@font-face{
	src: url("Courgette/Courgette-Regular.ttf");
	font-family: myFont;
}

body{
    background-color: #630707;
}

.content{
    background-color:#ffffff;
	opacity:0.9;
	overflow:auto;
	width: 20%;
	height: 65%;
	border-radius: 5px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper{
    color:#630707;
    text-align: center;
    padding:0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: myFont;
}

.bloc button{
    position: absolute;
    border-radius: 10%;
    width: auto;
    height:auto;
    top: 78%;
    outline: none;
    border: none;
    background-color: #ffffff;
}

.bloc p{
    font-family: myFont;
    padding: 2%;
    color:#630707;
}

.bloc2{
    position: absolute;
    border-radius: 10%;
    width: auto;
    height:auto;
    top: 73%;
    left:35%;
    outline: none;
    border: none;
    background-color: #ffffff;
}

.bloc2 p{
    font-family: myFont;
    padding: 2%;
    color:#630707;
}

/*slider*/
.carousel{
    width: 100vw;
    height:100vh;
    position:relative;
}
.carousel>ul{
    margin: 0;
    padding: 0%;
    list-style: none;
}
.slide{
    position:absolute;
    inset:0;
    opacity:0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}
.slide>img{
    display:block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
.carousel-button{
    position:absolute;
    background: none;
    border: none;
    font-size:4rem;
    top:50%;
    z-index:2;
    transform:translateY(-50%);
    color: rgba(255, 255, 255, 5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
}
.carousel-button:hover, .carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button:focus{
    outline: none;
}
.carousel-button.prev{
    left: 1rem;
}
.carousel-button.next{
    right: 1rem;
}

@media only screen and (max-width: 600px)
{
    .content{
        width: 50%;
	    height: 40%;
    }

    #wrapper{
        font-size: 14px;
    }

    .bloc button{
        left: 73%;
        transform: translate(-78%, -73%);
    }
    
    .bloc2{
        left:50%;
        transform: translate(-78%, -73%);
    }

    .slide>img{
        max-width: 100%;
        max-height: 100%;
        padding-top:20%;
        padding-bottom:2%;
        top:1rem;
        bottom: 1rem;;
    }

}

@media only screen and (min-width: 601px)
{
    .content{
        width: 50%;
	    height: 40%;
    }

    #wrapper{
        font-size: 19px;
    }

    .bloc button{
        left: 73.5%;
        transform: translate(-78%, -73.5%);
    }
    .slide>img{
        padding-top: 2%;
        padding-bottom: 2%;
    }

}

@media only screen and (min-width: 768px)
{
    .content{
        width: 40%;
	    height: 40%;
    }

    #wrapper{
        font-size: 20px;
    }

    .bloc button{
        left: 69%;
        transform: translate(-78%, -69%);
    }
}

@media only screen and (min-width: 992px)
{
    .content{
        width: 30%;
	    height: 40%;
    }

    #wrapper{
        font-size: 22px;
    }

    .bloc button{
        left: 64%;
        transform: translate(-78%, -64%);
    }
}

@media only screen and (min-width: 1200px)
{
    .content{
        width: 30%;
	    height: 40%;
    }

    #wrapper{
        font-size: 25px;
    }

    .bloc button{
        left: 64.5%;
        transform: translate(-78%, -64.5%);
    }
    .slide>img{
        padding-top: 2%;
        padding-bottom: 2%;
    }
}